<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WingedKeys.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <rewrite>            
        <rules>                
          <rule name="HTTPS rewrite behind AWS ELB rule" enabled="true" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions>
              <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />                    
            </conditions>                    
            <action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="Found" />                
          </rule>            
        </rules> 
      </rewrite> 
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 87a917a7-a30d-42f1-8834-86474698d6e8-->