@model TwoFactorViewModel

<h1>User Verification</h1>
<hr />

@if (Model.Error != null)
{
    <div class="row alert alert-danger">
        <div class="col-sm-6">
            <strong>@(Model.Error)</strong>
        </div>
    </div>
}

<p>You should receive a confirmation code shortly, sent to the email we have on file.  This code will be valid for up to 3 minutes.</p>
<p>Please enter your confirmation code in the field below:</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmTwoFactorToken" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="form-group">
                <label asp-for="TwoFactorCode" class="control-label">Confirmation Code</label>
                <input asp-for="TwoFactorCode" class="form-control" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>