# Certificate for HTTPS Server

files:
  /etc/nginx/conf.d/https.conf:
    content: |
      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          # Reroute all HTTP traffic to HTTPS
          location / {
              proxy_pass  http://localhost:5050;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEMjCCAxqgAwIBAgIJAM4FkNBchn1lMA0GCSqGSIb3DQEBBQUAMIGtMQswCQYD
      VQQGEwJVUzEXMBUGA1UECAwOTm9ydGggQ2Fyb2xpbmExFDASBgNVBAcMC0NoYXBl
      bCBIaWxsMREwDwYDVQQKDAhza3lsaWdodDEPMA0GA1UECwwGZGV2b3BzMSQwIgYD
      VQQDDBtkZXZzZWN1cmUuY3RvZWNza3lsaWdodC5jb20xJTAjBgkqhkiG9w0BCQEW
      FmFkbWluQHNreWxpZ2h0LmRpZ2l0YWwwHhcNMjAwNDEzMTk1NzEwWhcNMjMwMTA4
      MTk1NzEwWjCBrTELMAkGA1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5h
      MRQwEgYDVQQHDAtDaGFwZWwgSGlsbDERMA8GA1UECgwIc2t5bGlnaHQxDzANBgNV
      BAsMBmRldm9wczEkMCIGA1UEAwwbZGV2c2VjdXJlLmN0b2Vjc2t5bGlnaHQuY29t
      MSUwIwYJKoZIhvcNAQkBFhZhZG1pbkBza3lsaWdodC5kaWdpdGFsMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoj4B9L0agOv96Ij/KblrSQfxrQJUQ8vx
      IlLfoOrUxuIQmEpHZtdTSTJBMpJYjfkV++r8teNrCovg713s4dwEsg7wXS9Pp0Tq
      5WbM23ZYoYG4Cp7Kxz4EaB2I0glHrSMXYEoQF+1gOxtRYQkgnuoxJyH7OWr43v6y
      Sk+U/Nj2Qja/FoEtOVnelzzmnxzcrHd6qlrzlY809PW7Cd5mVlF/DeMcGWHaR8ur
      29JyAnnqlQWRbi4/QD3RBlF9tKsWTm282ce6d1Pp0jOwuxW/9WdQiu5tPLFWq/VQ
      hxfxSqowR28d0JsNAiyybzFn1GT7Tw2f9WScF68IzQ+tiQQI8U1X3QIDAQABo1Mw
      UTAdBgNVHQ4EFgQU7zQ8T0eHroc9FdZGEzx38MTmEywwHwYDVR0jBBgwFoAU7zQ8
      T0eHroc9FdZGEzx38MTmEywwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQUF
      AAOCAQEAhC/iAj+X3x3pMQasMTSpVx848lrcbGJqs9rd3rrcEudnFIVuje4tHLY9
      rf6vhIqfy5jeDyUINltyd0k0juRnGa9EtBf2UQoitMy7816qkPJyuwUL69PnpIwL
      IchkL/dEcgwMTn/H5qVTP56FYGAHEmyBlVWoiYbw/FSEGIJgF42BttDRdoYHfKIf
      ppmav24g0qYk+6FZThQtJwlRQ91OHKFSDylb37Lbq9KGYouWciVUBtyKG4Pxd//W
      tpn90ahCD2Zjyf0ErbQe1hnt6e1624OMHhFzimxTdohKAbzt4UnVxXho7so1bhCo
      wF9Y3JiBuU8e5hG649NCgV9pxFHlVA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |      
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAoj4B9L0agOv96Ij/KblrSQfxrQJUQ8vxIlLfoOrUxuIQmEpH
      ZtdTSTJBMpJYjfkV++r8teNrCovg713s4dwEsg7wXS9Pp0Tq5WbM23ZYoYG4Cp7K
      xz4EaB2I0glHrSMXYEoQF+1gOxtRYQkgnuoxJyH7OWr43v6ySk+U/Nj2Qja/FoEt
      OVnelzzmnxzcrHd6qlrzlY809PW7Cd5mVlF/DeMcGWHaR8ur29JyAnnqlQWRbi4/
      QD3RBlF9tKsWTm282ce6d1Pp0jOwuxW/9WdQiu5tPLFWq/VQhxfxSqowR28d0JsN
      AiyybzFn1GT7Tw2f9WScF68IzQ+tiQQI8U1X3QIDAQABAoIBAFmiyJHeqHXx7CY9
      CjyTJKMEsJFVaBjM5DyCbOsK0uPOojyBTVGURX97NGosUKCfrXWxLk2Ph+Qbw/p7
      ehSO6kk117akHO3dNanoUeYuTGlusa+sa3wI14ZuStlAJ0mQyal5Qcr2auQ9A4kI
      8ezalq14KMRgRX9uWDKWJUpM1EFf/Houa94uJQnhrxqpIvGPdWfBTapxsXBh8rJg
      a1niIULRQWYUXcWSbN8FAjIEMio6QExHdQo1XA+TaD6tHYk7dDMNyNa/CCBTXXyU
      0fCRXDr7Yl8oO1s4bnQK8ixp4L7i1XJRO4ol5t5NwknvZeVHyH6w8KnWPap1j83h
      PpByyAECgYEA03RoHb9Gmyb6E5ms/ggbDJ/30f1hPdiJJ/Y4VKqt8oPpJQKZUIOt
      e2iNxzB33qJxNCNlGhVPkIXptvpGenSBezhcWfmNx55nu4BFHl12YThylV0DHS5j
      4YLHcBhQL+t3XlXAFZGdypbOeNGaMnkQqUkyuTDRWXj3y/23pp7yvCECgYEAxGub
      rRU1+ERvN/QvEQUQs1WuNRT1xYxHrJy7sRpKx+TpFHMNSlimCLvEfS5/lb50Y5S2
      z0tv2RI559vXAQ1xpd5+EkpcJOv+pyyoe4uzTghyXAqXwGxYsKdfgZjet1UKuOHd
      PoOqgDGb1LYx9Hf/lMZChSinyOO8+EH8iyXGBD0CgYBa4J6Wmkw4BipYHiXRD57A
      cEfLwf/22ocn25QeHzSfE74xn8pQZic68JZuUxBRaLMKW2PqL9qAHG1zrGB55HR5
      hqF6MdyTPCsM1HXgNP7Zja8BLnZWJkfa9Z/NN0XPMn2c13G0U17jYKjgGAUTSCC3
      ALSCDs8KiwjEbQhu3cUowQKBgBc37TAZmMafOFJx7/pgEehREYW+04qlmXdjE6DM
      zdgxTAgZzZFjR0UzBPgTPguydsmqs61vampLiELLLvA16aBE27xHw/qtVu3mDoiE
      LA7mWrZcnjGl3RoMvvJv4qvjRqAyOtf/8nCy7IvJecA/SxwID6bz9ll96kGiczrz
      nSO1AoGAKP56FaJ57CuDHWmVLylNArbjfShF+AVRC1BesZYXydKf9cJ4u85GL8yu
      OdUR7CaUjv4Gwgdqtpi78AvP8/+9bFGlvxZYdtFGnLH9WP5kjuCLkTbCTt6YS+Af
      mr6t8P6sp4O733KmDStB8W/qV4LnjaEyuvmycW6KPKyI0Es7mFQ=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "systemctl restart nginx"